<mat-toolbar color="primary" > 
    <h1 class="title-center" [align]="'center'">Welcome to the presentation</h1>
</mat-toolbar>

<div class="container-tech">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-angular"></div>
          <mat-card-title>Angular</mat-card-title>
          <mat-card-subtitle>Angular Framework</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/Image/angular_max.jpg">
        <mat-card-content>
          <p>
            Angular is an open-source, front-end, TypeScript-based web application platform led by the Angular Team at Google and a community of individuals and businesses. 
            Angular is a complete rewrite of AngularJS, done by the same team that helped it.
          </p>
        </mat-card-content>
      </mat-card>
      <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image-dotnet"></div>
          <mat-card-title>.Net Core</mat-card-title>
          <mat-card-subtitle>.Net Core Framework</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../assets/Image/dotnet_max.jpg">
        <mat-card-content>
          <p>
            
            .NET is a free and open source framework for Windows, Linux and macOS operating systems. 
            It is an open source successor to the .NET Framework. 
            The project is primarily developed by Microsoft and released under the MIT License.
          </p>
        </mat-card-content>
      </mat-card>
</div>